html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    
}
p{
    margin: 0;
}
h1{
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0em;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
}
h4{
    margin: 0;
}
.notOnly{
    background-image: url(./img/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 180px;
}
.strsc{
    margin: 0 auto;
    max-width: 1280px;
}
.spers{
    padding: 0 40px;
    display: flex;
}
/* Шапка */
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    box-sizing: border-box;
}
.hedstr{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-top: 10px;
    text-align: center;
}
.brmenu{
    display: none;
}
ul{
    display: flex;
}
li{
    margin: 0;
    padding-left:36px ;
    list-style-type: none;
}
a{ 
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    transition: 0.5s;
}
.active{
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 3px;
}
.active:hover{
    cursor: default;
}
a:hover{
    color:#FAFAFA;
    cursor: pointer;
}
.content{
    padding: 163px 0 243px;
    width: 460px;
}
.strsc img{
    height: 728px;
    margin-left: 43px;
}
.content h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}
.content p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding: 42px 0px 57px;
}
/* not only */
.outbut{
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
    transition: 0.5s;
}
.outbut:hover{
    background-color:#FDDCC4;
    cursor: pointer;
    color: #292929;
}
.aboutpets{
    padding: 80px 215px 100px;
    display: flex;
    justify-content: space-between;
    gap:120px;
}
.img1{
    width: 300px;
    height: 408px;
}
.about{
    display: flex;
    justify-content: center;
}
.aboutol{
    max-width: 1280px;
}
.aboutcontent{
    width: 430px;
    padding: 14px 0 14px;
}
.aboutcontent{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.about1{
    padding: 25px 0 25px;
}
/* our */
.OurFriends{
    background: #F6F6F6;
    text-align: center;
    display: flex;
    justify-content: center;
}
.contpets{
    max-width: 1280px;
}
.petscontent{
    padding: 80px 40px 111px 40px;
}
.petsh3{
    text-align: center;
}
.slider{
    padding: 150px 0 75px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items:center;
    gap:53px;
}
.slidebutton{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    align-items: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding-bottom: 2px;
    background: transparent;
    transition: 0.5s;
}
.namepet{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    padding-top: 25px;
    letter-spacing: 0.06em;
}
.card{
    background: #FAFAFA;
    border-radius: 9px;
    transition: 0.5s;
}
/* .card:nth-child(4){
    display: none;
} */
.card:nth-child(5){
    display: none;
}
.card:nth-child(6){
    display: none;
}
.card:nth-child(7){
    display: none;
}
.card:nth-child(8){
    display: none;
}
.card:hover{
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #FFFFFF;
}
.card:hover>.learnpets{
    background: #FDDCC4;
    cursor: pointer;
    border: 2px solid #FDDCC4;
}
.cardnav{
    display:flex;
    gap: 90px;
}
.learnpets{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 30px;
    background: transparent;
    transition: 0.5s;    
}
.learnpets:hover{
    background: #FDDCC4;
    cursor: pointer;
    border: 2px solid #FDDCC4;
}
.slidebutton:hover{
    background: #FDDCC4;
    cursor: pointer;
    border: 2px solid #FDDCC4;
}
.know{
    align-items: center;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.5s; 
}
.know:hover{
    background-color:#FDDCC4;
    cursor: pointer;
    color: #292929;
}
/* help */
.help{
    display: flex;
    justify-content: center;
}
.helpcont{
    max-width: 1280px;
    padding: 80px 40px 45px 40px;
    text-align: center;
}
.helpcard{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardh{
    padding: 0 60px 55px;
}
.cardh h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 25px;
}
/* In addition */
.Inaddition{
    background: #F6F6F6;
    display: flex;
    justify-content: center;
}
.donatdog{
    padding: 80px 182px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
}

.dogdot{
    width: 505px;
}
.donatcont{
    padding-left: 30px;
}
.donatcont h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.subh{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 20px;
}
.credit{
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    margin-top: 20px;
    margin-right: 31px;
    width: 350px;
    transition: 0.5s;
}
.credit:hover{
    background: #FDDCC4;
    cursor: pointer;
    
}
.credit img{
    padding: 10px 0 10px 15px;
}
.credit p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 10px 15px 10px;
}
.doninf{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 20px;
    width: 380px;
}
footer{
    background-image: url(./img/footer-gradient-background.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.cfoot{
    max-width: 1280px;
    
}
.footcont{
    padding: 40px 40px 0 40px;
    display: flex;
}
.contacts{
    width: 279px;
    padding-top: 16px;
}
.grt{
    display: flex;
}
.loc{
    width: 302px;
    padding-top: 16px;
}
.footimg{
    height: 310px;
    margin-left: 157px;
}
.cfoot h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.mail{
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.cfoot h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-left: 20px;
}
.tel{
    display: flex;
    padding: 40px 0px 60px;
    align-items: center;
}
.ail
{
    padding-top: 33px;
}
.loc{
    padding-left: 160px;
}
.title-p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.subtitle-p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    padding-top: 10px;
}
ul{
    display: flex;
}
.menu-p a{ 
    text-decoration: none;
    color: #545454;
    transition: 0.5s;
}
.menu-p .active{
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}
.menu-p a:hover{
    color:#292929;
    cursor: pointer;
}
.menu-p .active:hover{
    cursor: default;
}
.hedpet{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 40px;
    background: #fff;
}
.hea{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.ourFriends{
    padding: 199px 20px 100px;
    background: #F6F6F6;
}
.petdiv{
    margin: 0 auto;
    max-width: 1280px;
}
.ourFriends h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    text-align: center;
}
.card-cont{
    padding: 60px 20px 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
    column-gap:40px;
}

.cardlist p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 30px;
}
.cardlist{
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.5s; 
}
.cardlist:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #FFFFFF;
}
.cardlist:hover>.learnpets-p{
    cursor: pointer;
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.learnpets-p{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background:transparent;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%; 
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    transition: 0.5s; 
}
.pagg{
    text-align: center;
     display: flex;
     justify-content: center;
     gap:20px;
       
}
.lef{
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background:transparent;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background:transparent;
    transition: 0.5s;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    padding-bottom: 3px;
    padding-right: 8px;
}
.rit{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background:transparent;
    transition: 0.5s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    padding-bottom: 3px;
    padding-left: 8px;
}
.cen-num{
    background: #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    border: none;
    transition: 0.5s;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;  
}
.rit:hover{
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
    cursor: pointer;
}
/* Adaptive */
@media (max-width:1279px){
    .hedstr{
        width: calc(708px + 492 * (100vw - 768px) / 512);
    }
    .hea{
        width: calc(708px + 492 * (100vw - 768px) / 512);
    }
    .strsc img {
        height: 650px;
    }
    .aboutpets {
        padding: 80px 100px 100px;
        gap: 50px;
    }
    .cardnav {
        gap: 40px;
    }
    .slider{
        gap: 20px;
    }
    .petscontent {
        padding: 80px 20px 111px;
    }
    .donatdog{
        padding: 80px 0 100px;
    }
    .footimg{
        margin-left: 20px;
    }
    .content {
        padding: 163px 0 0px 40px;
    }
    .footcont{
        padding: 56px 20px 0;
    }

}
@media (max-width:1100px){
    header{
        padding: 30px 30px 0 30px;
    }
    .notOnly{
        padding-top: 150px; 
    }
    .strsc{
        margin: 0 auto;
        display: block;
        padding: 0px 100px 0 99px;
        text-align: center;
    }
    .content{
        padding: 0px 54px 0px 55px;
        width: 460px;
        margin: auto;
    }
    .content h1{
        font-size: 44px;
        text-align: left;
    }
    .content p{
        font-size: 15px;
        text-align: left;
    }
    .content a{
        padding: 15px 45px;
        border-radius: 100px;
        margin-left: 0;
    }
    .spers img{
        margin: 0;
        width: 569px;
        height: 593px;
        padding-top: 115px;
        padding-left: 70px;
    }
    .aboutpets{
        display: grid;
        padding: 0;
        grid-template-areas:"text""img";
        justify-content: center;
        justify-items: center;
    }
    .aboutcontent{
        font-size: 15px;
        line-height: 160%;
        grid-area: text;
        padding: 80px 0 80px 0;
    }
    .img1{
        width: 300px;
        height: 408px;
        grid-area: img;
        padding: 0 0 100px 0;
    }
    .card:nth-child(2){
        display: none;
    }
    .Inaddition{
        display: block;
    }
    .contd{
        display: grid;
        grid-template-areas:"text1""img1";
        justify-content: center;
        justify-items: center;
    }
    .dogdot{
        grid-area: img1;
        justify-items: center;
        padding-top: 60px;
    }
    .donatcont {
        grid-area: text1;
        padding:0;
    }
    .helpcont {
        padding: 80px 69px 100px 69px;
    }
    .helpcard{
        justify-content: center;
        gap: 55px;
        column-gap: 60px;
    }
    .cardh {
        width: 170px;
        padding: 0;
    }


    .footcont{
        padding: 30px 30px 0 30px; 
        flex-wrap: wrap;  
        justify-content: center;   
    }
    .grt{
        justify-content: center;
        flex-wrap: wrap;
        gap:40px;
    }
    .contacts{
        padding: 0;
        width: 300px;
    }
    .loc{
        padding: 0;
        width: 300px;
    }
}
@media (max-width: 768px){
    .petscontent {
        padding: 80px 30px 111px 30px;
    }
    .card{
        width: 270px;
        height: 435px;
    }
    .slider{
        justify-content: center;
    }
    }
    .cardnav{
        gap: 40px;
    }
    
    .ail {
        padding-top: 40px;
    }
    .tael1{
        padding-top: 33px;
    }
    .tael2{
        padding-top: 33px;
    }
    .footimg{
        margin-left: 0;
    }
    .aboutpets{
        gap:0;
    }
    /* PETS */
    .hedpet{
        padding: 30px 30px 30px 30px;
    }
    .ourFriends{
        padding: 199px 30px 75px;
    }
    .card-cont{
        padding: 30px 64px 0px 64px;
        justify-content: space-between;
        gap: 0px 40px;
    }
    .cardlist{
        margin: 0 0 30px 0;
    }
    .cardlist:nth-child(13){
        display: none;
    }
    .cardlist:nth-child(15){
        display: none;
    }
    .pagg{
        padding-top: 13px;
    }
}
@media (max-width:767px){
    header {
        padding-left: 20px;
    }
    .title{
        font-size: 32px;
    }
    .subtitle {
        font-size: 13px;
        letter-spacing: 0.1em;
        padding-top: 10px;
        text-align: center;
    }
    .content{
        width: 300px;
        padding: 0;
    }
    .notOnly{
        height: 673px;
    }
    .strsc {
        margin: 0 auto;
        display: block;
        padding: 0px 10px 0 10px;
    }
    .content h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
    .content p {
        text-align: center;
        /* width: 300px; */
    }
    .content a {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }
    .card-cont{
        justify-content: center;
    }
    .cardlist:nth-child(7){
        display: none;
    }
    .cardlist:nth-child(9){
        display: none;
    }
    .cardlist:nth-child(11){
        display: none;
    }
    .spers img {
        margin: 0;
        width: 260px;
        height: 271.77px;
        padding-top: 120px;
        padding-left: 40px;

    }
    .aboutcontent{
        text-align: center;
    }
    .petscontent {
        padding: 80px 20px 111px;
    }
    .h3{
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }
    .about2{
        font-size: 15px;
        text-align: justify;
        padding: 22px 15px 0px 15px;
    }
    .about1{
        font-size: 15px;
        text-align: justify;
        padding: 25px 15px 0px 15px;
    }
    .img1{
        width: 260px;
        height: 353.6px;
        padding: 0px 20px 42.4px 30px;
    }
    .helpcard {
        justify-content: center;
    }
    .helpcont {
        padding: 42px 15px 42px 15px;
    }
    .helpcard{
        padding-top: 42px;
        gap:25px;
    }
    .dogdot{
        width: 400px;
    }
    .card:nth-child(3){
        display: none;
    }
    .menu{
        display: none;
    }
    .menu-p{
        display: none;
    }
    .brmenu{
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
    }
    .brmenup{
        top: 35%;
    }
}
@media (max-width:450px){
    .aboutcontent {
        padding: 42px 10px 42px 10px;
        width: 300px;
        text-align: center;
    }
    .petscontent {
        padding: 42px 10px 57px 10px;
    }
    .card{
        grid-area: img4;
        padding: 0 15px 0 15px;
    }
    .slidebutton{
        grid-area: text6;
    }
    .sb1 {
        margin-right: 130px;
    }
    .sb2{
        margin-left: 130px;
    }
    .slider{
        padding: 42px 0 57px;
        display: grid;
        grid-template-areas: "img4""text6";
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }
    h3 {
        font-size: 25px;
        letter-spacing: 0.06em;
    }
    .helpcard{
        justify-content: space-between;
    }
    .cardh{
        width: 130px;
    }
    .cardh img{
        width: 50px;
        height: 50px;
    }
    .cardh h4{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        padding-top: 20px;
    }

    .donatdog{
        padding: 0;
    }
    .donatcont{
        padding: 42px 10px 0 10px;
        width: 300px;
        text-align: center;
    }
    .subh{
        letter-spacing: 0;
        padding-top: 22px;
    }
    .donatcont h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    .credit{
        margin-left:10px;
        margin-top: 25px;
        width: 281px;
        
    }
    .credit p{
        font-size: 15px;
        padding-top: 15px;
    }
    .doninf{
        width: 280px;
        padding: 20px 0px 0 10px;
        text-align: justify;
    }
    .dogdot{
        width: 260px;
        height: 135.2px;
        padding: 42px 30px;
    }
    .footcont {
        padding: 30px 10px 0;
    }
    .grt{
        gap:0;
    }
    .footcont{
        padding: 29.8px 0 0 0;
    }
    .contacts h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin: 0;
    }
    .cfoot h4{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    .footimg{
            width: 260px;
            height: 269px;
            margin: 0;
    }
    .mail{
        padding-left: 24px;
    }
    .tel{
        padding-left: 30px;
    }

    .loc h3{
        font-size: 25px;
        padding-left:6px;
        text-align: center;
    }
    .tael1{
        padding: 40px 0 0 0;
        text-align: justify;
    }
    .tael4{
        padding-bottom: 40px;
        
    }
    .tael2{
        padding: 40px 0 0 0;
    }
    .footimg{
        padding: 40px 30px 0 30px;
    }

    .menu-p{
        display: none;
       }
       .hedpet{
        padding: 30px 20px;
       }
       .ourFriends {
        padding: 162px 10px 42px;
        }
        .ourFriends h1{
            font-size: 25px;
        }
        
        .card-cont{
            padding: 42px 15px 0px 15px;
        }
        .pagg{
            gap: 10px;
        }

}

